<div class="c-dashboard">
  <div class="c-filters__container">
    <vue-component
      name="FilterComponent"
      v-on:filter-update="homePageVm.handleFilterUpdate"
    />
  </div>

  <employees-list ng-hide="homePageVm.is_loading" employees-list="homePageVm.clonedEmployees"></employees-list>
  <div class='c-dashboard__loader' ng-show="homePageVm.is_loading">
    <img src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" alt="">
  </div>
  <div class="c-dashboard__footer">
    <button ng-if="!homePageVm.isAllEmployeesLoaded" ng-disabled="homePageVm.is_loading" class="c-button" ng-click="homePageVm.loadMoreEmployees()">
      Load More
    </button>
  </div>
</div>
